#locationPopup {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
}

.image-card{
    position: relative;
}

.image-card .btn-danger{
    position: absolute;
    right: 20px;
    top: 20px;
}

.custom-dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-sm-2 {
    flex-basis: 30%;
    text-align: left;
    position: relative;
}

.col-sm-2::after {
    content: ":";
    position: absolute;
    right: 0;
}

.card-columns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.card-columns .card {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.card-columns .card img {
    width: 100%;
    height: auto;
}

#myTable1 td:last-child,
#myTable2 td:last-child,
#myDataTable1 td:last-child,
#myDataTable2 td:last-child,
#myDataTable3 td:last-child,
#myDataTable4 td:last-child,
#myDataTable5 td:last-child 
#assetTable td:last-child,
#recycleBinTable td:last-child,
#itemTable td:last-child,
#manufacturerTable td:last-child,
#configurationStatusTable td:last-child,
#locationTable td:last-child,
#positionStatusTable td:last-child,
#userTable td:last-child {
    white-space: nowrap;
}

.dropdown-list {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#search-result li {
    padding: 10px 15px;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    transition: background-color 0.3s;
}

#search-result li:last-child {
    border-bottom: none;
}

#search-result li a {
    color: #000;
    text-decoration: none;
}

#search-result li:hover {
    background-color: #f8f9fa;
}

.horizontal-scroll {
    overflow-x: auto;
    scrollbar-width: thin; /* Firefox */
    -webkit-scrollbar-width: thin; /* WebKit (Chrome, Safari) */
}

/* Sembunyikan scrollbar pada browser berbasis Firefox */
.horizontal-scroll {
    scrollbar-color: transparent transparent;
}

/* Sembunyikan scrollbar pada browser berbasis WebKit (Chrome, Safari) */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}